
body {
    background: rgb(19, 19, 19);
}
.container {
    margin-bottom: 50px;
    overflow: hidden;
}

.half-width {
    color: aliceblue;
    text-align: center;
    margin: 5px;
}

input{
    background-color: #3D4153;
    color: #ffffff;
    margin: 0 auto;
    border: 2px solid #858299;
    border-radius: 5px;
}
